Flask>=3.0.2
tinydb>=4.8.0
Flask-QRcode>=3.1.0
argon2-cffi>=23.1.0  # Keep if you are hashing passwords
requests>=2.31.0     # Keep if your app makes API calls to other sites
python-dateutil      # Keep if you do complex date math
blinker>=1.7.0
click>=8.1.7
itsdangerous>=2.1.2
Jinja2>=3.1.3
MarkupSafe>=2.1.5
qrcode>=7.4.2
tinydb>=4.8.0
Werkzeug>=3.0.2
